.idea/
.vscode/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/slider/
/var/
/vendor/
###< symfony/framework-bundle ###

###> nginx ###
/docker/nginx/ssl/
###< nginx ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> docker ###
/docker/db/
###< docker ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> backups ###
/backups/
###< backups ###

###> symfony/asset-mapper ###
/public/assets/
###< symfony/asset-mapper ###

###> dkim ###
/config/dkim/*.pem
###< dkim ###
